Options +FollowSymLinks 
RewriteEngine on 
RewriteCond %{HTTP_HOST} !^www\.drvikasthukral\.com
RewriteRule (.*) http://www.drvikasthukral.com/$1 [R=301,L] 

RewriteCond %{THE_REQUEST} ^.*/index\.php 
RewriteRule ^(.*)index.php$ /$1 [R=301,L] 

RewriteCond %{THE_REQUEST} ^.*/index.html
RewriteRule ^(.*)index.html$ http://www.drvikasthukral.com/$1 [R=301,L]

ErrorDocument 404 /404.html